
<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-3 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2017 - 2019</p>
                        <div class="h5">Master's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Master of Engineering</div>
                        <h4 class="category">Xiamen University, China</h4>
                        <ul>
                            <li> MSc. Computer Science and Engineering</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2011 - 2015</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Bachelor of Science</div>
                        <h4 class="category">University of Ibadan, Nigeria</h4>
                        <ul>
                            <li>BSc. (Hons) Computer Science. <b> First Class Division</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                    <p>2008 - 2010</p>
                    <div class="h5">Diploma</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Higher Secondary</div>
                        <h4 class="category">Yaba College of Technology</h4>
                        <ul>
                            <li>
                                National Diploma, Computer Science,<b> Distinction Division</b> 
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>