<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-3 title">Projects</div>
        <div class="row">
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card big" data-aos="fade-up" >
                        <img class="card-img-top" src="assets/images/p44.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Content Management System</h4>
                            <h5 class="card-text"><b>Technology :</b> Laravel, Bootstrap, HTML5,CSS3,JS,MYSQL </h5>
                            <!-- <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5> -->
                            <!-- <a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
                            
                            <div class="place-center">
                                <a href="https://github.com/" class="btn btn-bg btn-primary">GithubLink</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card big" data-aos="fade-up" >
                        <img class="card-img-top" src="assets/images/p44.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Content Management System</h4>
                            <h5 class="card-text mt-3"><b>Technology :</b> Laravel, Bootstrap, HTML5,CSS3,JS,MYSQL </h5>
                            <!-- <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5> -->
                            <!-- <a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
                            
                            <div class="place-center mt-3">
                                <a href="https://github.com/" class="btn btn-bg btn-primary">GithubLink</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="card" data-aos="fade-up" >
                        <img class="card-img-top mb-2" src="assets/images/p44.png" alt="Card image" style="width:100%">
                        <div class="card-body mt-3">
                            <h4 class="card-title mt-3">Content Management System</h4>
                            <h5 class="card-text"><b>Technology :</b> Laravel, Bootstrap, HTML5,CSS3,JS,MYSQL </h5>
                            <!-- <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5> -->
                            <!-- <a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
                            
                            <div class="place-center mt-3">
                                <a href="https://github.com/" class="btn btn-bg btn-primary">GithubLink</a>
                            </div>
                        </div>
                    </div>
            </div>
              
        </div>
    </div>
</div>